* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header nav {
    width: 100%;
    background-color: #1C3879;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 5px;
}

header img {
    margin-right: auto;
    height: 40px
}

#iconoMenu {
    color: #eae3d2;
    background-color: #eae3d2;
}

#menuHorizontal {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    gap: 5px;
    float: right;
    margin: 0%;




}

#menuHorizontal a {
    width: 100%;
    height: auto;
    text-decoration: none;
    color: #eae3d2;
    background-color: #607eaa;
    font-size: 18px;
    padding: 3px 3px;



}

#menuHorizontal li {
    float: right;

}

#menuHorizontal li a {
    display: block;
    text-align: center;

}

#menuHorizontal a:hover {
    background-color: #1C3879;
}

main {
    background-color: #f9f5eb;

}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #607eaa;
    font-size: 50px;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;
    margin: 20px;
    width: 100%;
}

@media (max-width:767px) {
    h1 {
        text-align: center;
    }

}

.scale-in-hor-center {
    animation: scale-in-hor-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-hor-center {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1;
    }
}


.imagenPcpal {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}



#servicios {
    display: flex;
    gap: 5px;
    margin-top: 50px;
}

#servicios div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
    margin-bottom: 55px;
    padding: 3px;
    border: 2px solid #607eaa;
}

#servicios div a {
    align-self: flex-end;
}

h2 {
    color: #607eaa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

p {
    color: #201a0cb0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-align: justify;
    font-size: 15px;
    padding: 10px;
    flex-grow: 1;

}

main a {
    color: #f9f5eb;
    background-color: #1C3879;
    text-decoration: none;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
    margin: 10px;

}

.slide-top:hover {
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
    }
  }
  

@media (max-width:767px) {
    #servicios {
        display: inline;
        margin: 60px;
    }

}


.roll-in-left {
	        animation: roll-in-left 2s ease-out both;
}

@keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
.pie-pagina {
    width: 100%;
    background-color: #1C3879;
    margin: 100;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 5px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 50px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #f9f5eb;
    margin-bottom: 5px;
    font-size: 15px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.pie-pagina .grupo-1 .box p {
    color: #f9f5eb;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #f9f5eb;
    margin-right: 10px;
    background-color: #607eaa;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: #1C3879;
}

.pie-pagina .grupo-2 {
    background-color: #607eaa;
    padding: 15px 10px;
    text-align: center;
    color: #f9f5eb;

}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media (max-width:767px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

.izquierda {
    text-align: left;
}

#conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;


}

.listaDestino {
    flex: auto;
}

@media (max-width:767px) {
    #conteiner {
        display: inline;


    }

}

.tracking-in-expand-fwd {
	
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

.formulario {
    margin: 15px;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #1C3879;
    border-radius: 4px;
}

textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #1C3879;
    border-radius: 4px;

}

form label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

@media (max-width:767px) {
    .formulario {
        justify-content: center;
        align-items: center;



    }
}

.listaDestino .Prov {
    font-size: 20px;
}

.listaDestino {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1C3879;
}